<div class="col-md-6 col-md-offset-3">
	<h2>Find Your Water Supplier</h2>

	<form action="/suppliers/water">
		<div class="form-group">
			<label for="postcode">PostCode</label>
			<input 
				type="postcode" 
				class="form-control" 	
				id="postcode"
				name="postcode" 
				placeholder="Postcode">
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>